# <font color="#ff8104">Let's make random team</font>

1. 팀장 선정
2. 팀원 할당

In [37]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('students.csv')

In [20]:
df.sample(frac=1).head()

            학번   이름
6   2014123462  정형돈
9   2014123465  김윤아
8   2014123464  홍광희
17  2014123473  김기춘
16  2014123472  정기형

<pre>
In [37]: df
Out[37]: 
   A  B  C  D
0  1  0  2  2
1  2  2  0  3
2  3  0  0  3
3  0  2  3  1

In [38]: df.where(np.random.uniform(size=df.shape) > 0.3, None)
Out[38]: 
      A  B     C     D
0     1  0     2  None
1     2  2     0     3
2     3  0  None  None
3  None  2     3  None
</pre>

In [34]:
df['groups'] = np.random.uniform(size=19)

In [35]:
df

            학번   이름    groups
0   2014123456  김철수  0.577282
1   2014123457  김영희  0.473840
2   2014123458  김갑수  0.209103
3   2014123459  유재석  0.645421
4   2014123460  박명수  0.774638
5   2014123461  정준하  0.897341
6   2014123462  정형돈  0.819782
7   2014123463  길성준  0.065172
8   2014123464  홍광희  0.293726
9   2014123465  김윤아  0.735690
10  2014123466  정채연  0.942705
11  2014123467  김태연  0.003642
12  2014123468  김현우  0.005651
13  2014123469  이희현  0.911285
14  2014123470  김남홍  0.947684
15  2014123471  박연오  0.427217
16  2014123472  정기형  0.923557
17  2014123473  김기춘  0.643491
18  2014123474  김준희  0.394494

# <font color="#ff8104">Without Pandas, Numpy</font>

In [38]:
import random

In [39]:
팀장 = input("팀장들 : ")

팀장들 : 정형돈 김윤아 홍광희 김기춘 정기형

'\n6\t2014123462\t정형돈\n9\t2014123465\t김윤아\n8\t2014123464\t홍광희\n17\t2014123473\t김기춘\n16\t2014123472\t정기형\n'

In [42]:
팀장.split(' ')

['정형돈', '김윤아', '홍광희', '김기춘', '정기형']

In [47]:
teams = {
    'Leader' : ['mate1','mate2', 'mate3', 'mate4'],
}

In [50]:
for leader in 팀장 :
    teams[leader] = []
    mates = input("팀원들 : ").split(' ')    
    teams[leader].extend(mates)

팀원들 : 김규식 최혜원
팀원들 : 송현지 박재한
팀원들 : 정홍진 홍진호
팀원들 : 김송이 정지원
팀원들 : 압둘라 만수르
팀원들 : 냥냥
팀원들 : ㅇ
팀원들 : ㅇ
팀원들 : ㅇ
팀원들 : ㅇ
팀원들 : ㅇ
팀원들 :
팀원들 : ㅇ
팀원들 : ㅇ
팀원들 : ㅇ
팀원들 : ㅇ
팀원들 : ㅇ
팀원들 : ㅇ
팀원들 : ㅇ

In [51]:
teams

{'Leader': ['mate1', 'mate2', 'mate3', 'mate4'],
 '정': ['ㅇ'],
 '형': ['ㅇ'],
 '돈': ['정홍진', '홍진호'],
 ' ': ['ㅇ'],
 '김': ['ㅇ'],
 '윤': ['냥냥'],
 '아': ['ㅇ'],
 '홍': ['ㅇ'],
 '광': ['ㅇ'],
 '희': ['ㅇ'],
 '기': ['ㅇ'],
 '춘': ['ㅇ']}