# First Class Function

In [1]:
def my_map(func, args) :
    result = []
    
    for i in args :
        result.append(func(i))
    
    return result

num_list = list(range(10))

In [2]:
import pandas as pd

pd.DataFrame

In [18]:
# alpha = list(map(lambda x : chr(65+x), range(10)))
# alphabet = dict(zip(alpha, range(10)))

age_A = list(range(13, 62, 10))
age_B = list(range(17, 66, 10))

family = {'A' : age_A, 'B':age_B}
df = pd.DataFrame(family)
df

    A   B
0  13  17
1  23  27
2  33  37
3  43  47
4  53  57

In [30]:
# list(df['A'])

df['A']

0    13
1    23
2    33
3    43
4    53
Name: A, dtype: int64

In [20]:
def my_apply(col, func) :
    rows = list(df['A'])
    for c in col : 
        func(c)

    return cols

In [ ]:
my_apply